*.src.rock
*.tar.gz
*.zip
.github/slack*.json
.idea/
.vscode/
busted.out
coverage/
description.txt
lcov.info
luacov.*
modsettings.lua
workshop/

doc/*
!doc/.dockerignore
!doc/docker-stack.yml
!doc/Dockerfile
!doc/ldoc/
